/*******************
* CSS file for the game
* I.    Google font
* II.   Media Queries for responsiveness and fast load times
* III.  General class styles
* IV.   Title
* V.    Timer
* VI.   Anti-resize screen
* VII.  Score
* * a. The Modal (background)
* * b. congrats screen style
* * c. scores style
* VIII. Loading screen
* IX.   Finish screen
***************/

/* I. Google font */
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

/* II. Media Queries for responsiveness and fast load times
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .plancher {
        background-image: url('../images/plancher/plancher600.jpg');
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .plancher {
        background-image: url('../images/plancher/plancher768.jpg');
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .plancher {
        background-image: url('../images/plancher/plancher992.jpg');
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .plancher {
        background-image: url('../images/plancher/plancher1200.jpg');
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .plancher {
        background-image: url('../images/plancher/plancher1600.jpg');
    }
}

/* HD+ (large laptops and desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {
    .plancher {
        background-image: url('../images/plancher/plancher3840.jpg');
    }
}

/* III. General class styles */
html, body, #mainContainer {
    margin: 0px !important;
    overflow: hidden !important;
}

#mainContainer {
    height: 100%;
    width: 100%;
    background-color: rgb(82, 42, 13); /* Fallback value */
}

/* for main background */
.plancher {
    background-size: 100% auto;
    background-repeat: repeat-y;
}

.texte {
    font-family: 'Inconsolata', monospace;
    font-size: 5vmax;
    color: gray;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.texte pre {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 4vw;
}

.texte a {
    font-size: 4vw;
}

/* IV. Title */
.title {
    position: absolute;
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    left: 0;
    right: 0;
    top: 3%;
    margin: auto;
    padding: 0;
}

/* V. Timer */
.timer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 0px;
}

.noselect {
    -webkit-touch-callout: none;    /* iOS Safari */
    -webkit-user-select: none;      /* Safari */
    -khtml-user-select: none;       /* Konqueror HTML */
    -moz-user-select: none;         /* Firefox */
    -ms-user-select: none;          /* Internet Explorer/Edge */
    user-select: none;              /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.clickthrough {
    pointer-events: none;
}

/* VI. Anti-resize screen */
.antiresize {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: none; /* Disable scroll */
    background-color: black;
}

.antiresize p {
    text-align: center;
    color: lightgray;
    font-size: 2em;
}

/* for the "ban" logo */
.antiresize img {
    display: block;
    width: 50%;
    height: 50%;
    margin: auto;
    padding-top: 3px;
    fill: lightgrey;
}

/* VII. Score */
/* For the modal's css, got it from https://www.w3schools.com/howto/howto_css_modals.asp... thanks ^^ */
/* a. The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    display: table; /* Fallback vertical align for cross-browser compatibility */
    display: flex;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: none; /* Disable scroll */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    display: table-cell; /* Fallback vertical align for cross-browser compatibility */
    vertical-align: middle; /* Fallback vertical align for cross-browser compatibility */
    margin: auto;
    background-color: rgb(240,240,240); /* Fallback color */
    background-color: rgba(240,240,240,0.4); /* White w/ opacity */
    padding: 1vmin;
    border: 1px solid lightgray;
    border-radius: 1vmin;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* b. congrats screen style */
.askPseudo {
    color: whitesmoke;
    text-align: center;
}

/* generated with https://www.bestcssbuttongenerator.com/ */
.askPseudo button {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #FFEF52), color-stop(1, #FFB22B));
	background:-moz-linear-gradient(top, #FFEF52 5%, #FFB22B 100%);
	background:-webkit-linear-gradient(top, #FFEF52 5%, #FFB22B 100%);
	background:-o-linear-gradient(top, #FFEF52 5%, #FFB22B 100%);
	background:-ms-linear-gradient(top, #FFEF52 5%, #FFB22B 100%);
	background:linear-gradient(to bottom, #FFEF52 5%, #FFB22B 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEF52', endColorstr='#FFB22B',GradientType=0);
	background-color:#FFEF52;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #FFB22B;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	padding:16px 31px;
	text-decoration:none;
    text-shadow:1px 1px 0px #FFEF52;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.askPseudo button:hover {
    -moz-box-shadow: 3px 3px 7px 0px #FFEF52;
	-webkit-box-shadow: 3px 3px 7px 0px #FFEF52;
	box-shadow: 3px 3px 7px 0px #FFEF52;
}
.askPseudo button:active {
	position:relative;
	top:1px;
}

.askPseudo .textInput {
    background-color: rgba(240,240,240,0.0);
    caret-color: whitesmoke;
    color: whitesmoke;
    border: none;
    outline: none;
    border-color: transparent;
    text-align: left;
    margin: 3%;
}

.askPseudo .textInput::placeholder {
    color: whitesmoke;
}

/* c. scores style */
.scorescreen {
    color: whitesmoke;
    text-align: center;
}

.scorelines {
    margin: auto;
}

.scorescreen p,
.scorescreen a {
    display: block;
}

/* to make my line of score better */
.myLine {
    color: #FFB22B;
}

/* Score screen Buttons (restart, save and patron */
.scoreScreenButton {
    position: relative; /* to position the text inside, it has to be positioned itself */
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: none;
    padding: 0px;
    font-size: 0px;
    display: inline-block;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    cursor: pointer;
    border-radius: 50%;
}

.scoreScreenButton img {
    max-width: 10vmax;
}

.scoreScreenButton p {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    font-size: 3vmax;
    color: rgb(250, 250, 250);
    pointer-events: none;
    opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.scoreScreenButton:hover > p {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.scoreScreenButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* horizontal alignment */
/* #saveButton { */
#discordButton {
    float: left;
    margin-left: 10%;
}

/* #supportButton { */
#gitpodButton {
    float: right;
    margin-right: 10%;
}

/* VIII. Loading screen */
.pleaseWait {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
}

.pleaseWait img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pleaseWait p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    color: #FFB22B;
    text-shadow: 1px 1px 0px #FFEF52, 1px -1px 0px #FFEF52, -1px 1px 0px #FFEF52, -1px -1px 0px #FFEF52;
}

/* IX. Finisch screen */
.crop-outside {
    overflow: hidden;
}